#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=4

PYVERSIONS=2.1 2.2 2.3

build: DH_OPTIONS=
build: build-stamp
build-stamp: 
	dh_testdir
	
	for v in $(PYVERSIONS) ; do \
	    python$$v setup.py -q build ; \
	done
	touch build-stamp

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf build
	rm -rf debian/python?.?-tmp*
	find . -name "*.pyc" | xargs rm -f
	rm -f changelog.gz
	dh_clean

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	
	python2.1 setup.py -q install --no-compile --root=debian/python2.1-generator
	python2.2 setup.py -q install --no-compile --root=debian/python2.2-generator
	python2.3 setup.py -q install --no-compile --root=debian/python2.3-generator
	
	
	


# Build architecture-independent files here.
binary-indep: DH_OPTIONS=-i
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_install
	
	
	
	
	gzip -9 -c ChangeLog > changelog.gz
	dh_installdocs -A changelog.gz 
	dh_installchangelogs
	
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol 
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: DH_OPTIONS=-a
binary-arch: build install
	dh_testdir 
	dh_testroot 
	dh_install
	
	
	
	
	gzip -9 -c ChangeLog > changelog.gz
	dh_installdocs -A changelog.gz 
	dh_installchangelogs
	
	dh_strip
	dh_link
	dh_compress 
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep 
.PHONY: build clean binary-arch binary-indep binary

